.menu {
  background-image: url("../../img/content/menu-section_bg.png");
  background-color: rgba(0, 0, 0, 0.9);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  position: relative;
  z-index: -100;

  &::before {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url(../../img/content/team-section_raspberries.png);
    background-repeat: no-repeat;
    background-position: top 9px left 2%;
    transform: translate(0, -80px);
    z-index: -90;
  }
}

.title-menu {
  position: absolute;
  top: 14%;
  left: 6%;
  color: #fff;

}

.menu-acco {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}

.menu-acco__item {
  float: left;
  height: 100%;

  &--active {
    .menu-acco__content {
      width: rem(530px);
      // transition: 0.5s ease; //анимация

      &::before {
        content: "";
        display: block;
        position: absolute;
        height: 100%;
        width: inherit;
        background-image: url(../../img/icons/menu_section_close.png);
        background-repeat: no-repeat;
        background-position: top 25px right 30px;
        z-index: 1;
      }

      .menu-acco__text {
        display: block;
        // width: rem(535px); //текст зафиксирован для анимации
      }
    }
  }
}

.menu-acco__trigger {
  width: rem(100px);
  display: block;
  height: 100%;
  float: left;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  text-decoration: none;
  position: relative;
  filter: contrast(170%);

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }
  // @include phones {
  //   width: rem(50px);
  // }
}

.menu-acco__trigger-text {
  font-size: rem(48px);
  color: #fff;
  @include alegreya(medium);
  text-align: center;
  white-space: nowrap;
  position: absolute;
  transform: rotate(-90deg) translateY(-50%);
  transform-origin: 0 0;
  left: 50%;
  top: 100%;
  margin-top: rem(-40px);

  // @include phones {
  //   font-size: rem(26px);
  // }
}

.menu-acco__content {
  height: 100%;
  float: left;
  background: rgba(47, 50, 52, 0.929);
  width: 0;
  overflow: hidden;
}

.menu-acco__text {
  @include alegreya();
  font-size: rem(16px);
  color: $white;
  padding-top: rem(45px);
  padding-left: rem(30px);
  padding-right: rem(115px);
  width: 100%;
  line-height: rem(24px);
  display: none;
}  