.why {
  background: url("../../img/bg/best_leaf.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: left center;
}

.why__container {
  display: flex;
  flex-direction: column;
  padding-top: 7rem;
}

.why__title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.why__title-desc {
  text-align: center;
  @include alegreya(regular);
  font-size: 18px;
  color: $dark-gray;
}

.why__item-list {
  display: flex;
  justify-content: space-between;
}

.why__item,
.why__item-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

@each $why__item-ico in (useful, delicious, nutritious) {
  .why__item-ico_#{$why__item-ico} {
    position: relative;
    background-color: $gray;
    width: 125px;
    height: 125px;
    border-radius: 50%;

    &::after {
      content: "";
      display: block;
      position: absolute;
      background: url("../../img/icons/ico_#{$why__item-ico}.png")
        no-repeat
        center;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 100%;
      width: 100%;
    }
  }
}

.why-raspberries-pic {
  position: absolute;
  transform: translate(0%, 130%);
  z-index: -100;
  left: 0;
}
